<div  class="container card">
  <div *ngIf="authService.isAuthenticated$ | async">
    <h2 class="title">Your Smoke-Free Progress</h2>
    <div class="progress-container">
      <div class="days-counter">
        <span class="number">{{ daysSmokeFree$ | async }}</span>
        <span class="label">DAYS</span>
      </div>
    </div>
    <button class="btn btn-primary" (click)="resetCounter()">Reset Counter</button>
    <button class="btn btn-primary" (click)="addOneDay()">No Smoke today</button>
  </div>
  
  <div *ngIf="!(authService.isAuthenticated$ | async)">
    <p>Please log in to track your progress.</p>
    <button class="flip-card__btn">
      <a routerLink="/login" class="btn-link">Log in</a>
    </button>
  </div>
</div>