<div  class="container card">
  <div *ngIf="authService.isAuthenticated$ | async">
    <h2 class="title">Your Smoke-Free Progress</h2>
    <div class="progress-container">
      <div class="days-counter">
        <span class="number">{{ daysSmokeFree$ | async }}</span>
        <span class="label">DAYS</span>
      </div>
    </div>
    <div class="button-container">
      <button 
        class="btn primary-btn" 
        (click)="addOneDay()" 
        [disabled]="isAddingDay || isResetting">
        <span *ngIf="!isAddingDay">Add 1 Day</span>
        <span *ngIf="isAddingDay">Adding...</span>
      </button>
      
      <button 
        class="btn primary-btn" 
        (click)="resetCounter()"
        [disabled]="isAddingDay || isResetting">
        <span *ngIf="!isResetting">Reset Counter</span>
        <span *ngIf="isResetting">Resetting...</span>
      </button>
    </div>
  </div>
  
  <div *ngIf="!(authService.isAuthenticated$ | async)">
    <p>Please log in to track your progress.</p>
    <button class="flip-card__btn">
      <a routerLink="/login" class="btn-link">Log in</a>
    </button>
  </div>
</div>

